.myBG{
    height: 100vh;
    /* background: url("../assets/bg/bgitem.jpg"); */
    background: black;
}

.nav{
    position: fixed;
    /* box-sizing: border-box; */
    list-style-type: none;
    /* background-color: chocolate; */
    /* overflow: hidden; */
    /* top: 0; */
    /* position: fixed; */
    /* width: 100%; */
    z-index: 1;
    background-color: black;
}

.intro{
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    text-align: center;
}


.tentang{
    /* height: auto; */
    height: 100vh;
    background: black;
    background-size: cover;
}
.porto{
    height: auto;
    /* height: 100vh; */
    background: #808080;
    background-size: cover;
}


.textTentang{
    font-size: 1rem;
    /* font-weight: 800; */
    color :aliceblue;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    /* text-shadow: 2px 2px black; */
    letter-spacing: 1px;
    text-align: center;

    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;

}

.skills {
        /* height: auto; */
        height: auto;
        /* background: url("../assets/bg/bgitem.jpg"); */
        /* background: gray; */
        background: gray;
       background-size: cover;
}

.imgSkill{
    height: auto;
    background-color: gray;
    margin: 3px;
    padding: 3px;
    /* image-resolution: 250px; */
    /* text-align: center; */
}

.images{
    /* height: 200px; */
    height: auto;
}

.iconSosmed{
 height: 50px;    
}

/* .skillWrapper{
height: 100px;
} */

.sosmed{
    /* background-color: black; */
    /* height: 100vh; */
    height: 100vh;
    justify-content: end;
    align-items: end;
}

.propil{
    height: auto; 
    justify-content: center;
}

.tanya{
    text-align: center;
    justify-content: center;
    background-color: black;
}

.footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.itemsTtg{
    text-align: center;
    background: black;
    align-items: center;
    justify-content: center;
}